<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="banyan.com.winya1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.FullScreen">

        <activity
            android:name=".Activity_Login"
            android:label="Login"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".Activity_Dashboard"
            android:label="Dashboard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity_Search"
            android:label="Search Here"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity_Search_Results"
            android:label="Suggestions"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity_University_Description"
            android:label="Description"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity_Apply_form"
            android:label="Apply Here"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>